body {
	background-color: lightseagreen;
	width: 392px;
	margin: 0 auto;
/*	border-left: 4px solid white;
	border-right: 4px solid white;*/
}

* {
	font-family: 'Lato', sans-serif;
	text-align: center;
}

h1 {
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 900;
	color: white;
	letter-spacing: 2px;
	margin-top: 25px;

}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	font-size: 38px;
	text-transform: uppercase;
	font-weight: 100;
	color: white;
	line-height: 44px;
	transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);	
    transition: transform .5s;
    -webkit-transition: -webkit-transform .5s;
    -moz-transition: -moz-transform .5s;
    -o-transition: -o-transform .5s;
}

li:hover {
	transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
}

p {
	font-size: 10px;
	font-weight: 300;
	line-height: 14px;
	color: white;
	letter-spacing: .75px;
	text-transform: uppercase;
}

.hl {
	color: lightslategrey !important;
	border-bottom: thin solid lightslategrey !important;
}

a {
	text-decoration: none;
}


a:link {
	color: white;
	text-decoration: none;
}     

a:visited {
	color: white;
	text-decoration: none;
}  

a:hover {
	/*color: lightslategrey;*/
	color: white;
	text-decoration: none;

}  

a:active {
	/*color: lightslategrey;*/
	color: white;
	text-decoration: none;
}
