.container {
	
	width:900px;
	background-color:white;

}

div {

	background-color:red;
	margin:0px 2px 2px 0px;
	float:left;

}

.tall {
	width:100px;
	height:450px;
}

.long {
	width:602px;
	height:148px;

}

.square {

	width:300px;
	height:300px;
}

.squares {

	background-color:white;
	width:604px;
	margin:0px;
}