	* { 
		-webkit-box-sizing: border-box;
		box-sizing: border-box; 
	}

	body {
		font-family: 'Lora', serif;
		color: rgb(53,40,30);
		margin-left: 70px;
		margin-top: 50px;
	}

	h1 {
		font-family: 'Nothing You Could Do', cursive;
		color: rgb(18,117,71);
		font-size: 32px;
	}

	p {
		color: rgb(53,40,30);
		width: 275px;
		text-align: left;
		font-size: 15px;
		margin: 5px;
	}

	#container1 {
		margin: 0 auto;
	}

	#container2 {
		width: 275px;
		height: 500px;
		float: left;
		margin-left: 5px;
		margin-right: 40px;
	}

	#container3 {
		width: 340px;
		height: 294px;
		margin-top: -75px;
		float: left;
	}

	.frame1 {
		width: 340px;
		height: 294px;
		background-color: rgb(53,40,30);
		float: left;
	}

	#container4 {
		width: 332px;
		height: 230px;
		margin-top: 10px;
		margin-left: 10px;
		float: left;
	}

	.frame2 {
		width: 159px;
		height: 230px;
		background-color: rgb(53,40,30);
		float: left;
	}

	.frame4 {
		width: 162px;
		height: 230px;
		background-color: rgb(53,40,30);
		margin-left: 10px;
		float: left;
	}

	#container5 {
		width: 184px;
		height: 130px;
		margin-top: -50px;
		float: left;
	}

	.frame3 {
		width: 184px;
		height: 130px;
		background-color: rgb(53,40,30);
		margin-left: 10px;
		float: left;
	}

	.frame5 {
		width: 184px;
		height: 126px;
		background-color: rgb(53,40,30);
		margin-left: 10px;
		margin-top: 10px;
		float: left;
	}

	#container6 {
		width: 304px;
		height: 300px;
		margin-top: -85px;
		float: left;
	}

	.frame6 {
		width: 304px;
		height: 300px;
		float: left;
		background-color: rgb(53,40,30);
		margin-left: 20px;
		float: left;
	}

	#container7 {
		width: 470px;
		height: 284px;
		margin-left: 20px;
		margin-top: 10px;
		float: left;
	}

	.frame7 {
		width: 470px;
		height: 284px;
		background-color: rgb(53,40,30);
		float: left;
	}

	#container8 {
		width: 833px;
		height: 284px;
		float: left;
	}


	img {
		border: 10px solid rgb(53,40,30);
		max-width: 100%;
	}

