	* { 
		-webkit-box-sizing: border-box;
		box-sizing: border-box; 
	}

	body {
		font-family: 'Lora', serif;
		color: rgb(53,40,30);
		margin-left: 70px;
		margin-top: 50px;
	}

	h1 {
		font-family: 'Nothing You Could Do', cursive;
		color: rgb(18,117,71);
		font-size: 35px;
		margin-top: -10px;
	}

	p {
		color: rgb(53,40,30);
		width: 275px;
		text-align: left;
		font-size: 15px;
		margin-top: -15px;
	}

	#container1 {
		margin: 0 auto;
	}

	#container2 {
		width: 275px;
		height: 500px;
		float: left;
		margin-left: 5px;
		margin-right: 30px;
	}

	#container3 {
		width: 414px;
		height: 245px;
		margin-top: -50px;
		float: left;
	}

	.frame1 {
		width: 414px;
		height: 245px;
		background-color: rgb(53,40,30);
		float: left;
	}

	#container4 {
		width: 422px;
		height: 235px;
		margin-top: 10px;
		float: left;
	}

	.frame2 {
		width: 201px;
		height: 235px;
		background-color: rgb(53,40,30);
		float: left;
	}

	.frame3 {
		width: 201px;
		height: 235px;
		background-color: rgb(53,40,30);
		margin-left: 10px;
		float: left;
	}

	#container5 {
		width: 414px;
		height: 480px;
		float: left;
	}

	#container6 {
		width: 440px;
		height: 257px;
		margin-left: 10px;
		margin-top: -50px; 
		float: left;
	}

	.frame4 {
		width: 210px;
		height: 257px;
		background-color: rgb(53,40,30);
		float: left;
	}

	.frame5 {
		width: 220px;
		height: 159px;
		margin-left: 10px; 
		background-color: rgb(53,40,30);
		float: left;
	}

	#container7 {
		width: 210px;
		height: 171px;
		float: left;
	}

	.frame6 {
		width: 210px;
		height: 171px;
		background-color: rgb(53,40,30);
		margin-top: 60px;
		margin-left: 10px;
		float: left;
	}

	#container8 {
		width: 230px;
		height: 273px;
		float: left;
	}

	.frame7 {
		width: 220px;
		height: 273px;
		background-color: rgb(53,40,30);
		margin-left: 20px;
		margin-top: -40px;
		float: left;
	}

	img {
		border: 10px solid rgb(53,40,30);
		max-width: 100%;
	}

