          body {
            width: 550px;
            margin: 0 auto;
            font-family: "Times New Roman", Times, serif;
            text-align: center;
          }

          h1 {
            font-size: 35px;
          }

          h2 {
            color: rgb(63,62,62);
            font-size: 25px;
          }

          h3 {
            color: rgb(70,69,69);
            font-size: 21px;
          }

          p {
            color: rgb(80,80,80);
            font-size: 17px;
            text-align: justify;
          }

          li {
            color: rgb(80,80,80);
            font-size: 17px;
            text-align: left;
          }

          .thinner {
            color: rgb(53,52,52);
            font-size: 15px;
            padding-left: 30px;
            padding-right: 30px;
            text-align: center;
          }