/*ABSOLUTE ======================*/
body {
	background-color: #ccc;
}

#navbar {
	width: 100%;
	height: 25px;
	background-color: #ddd;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 5;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
	color: #999;
}

p {
	color: #fff;
}

#textblock {
	width: 50%;
	margin: 10% auto;
}

#circle1 {
	width: 200px;
	height: 200px;
	border: 2px solid #999;
	border-radius: 100px;
	position: fixed;
	top: 0;
	left: 0;
}

#circle2 {
	width: 300px;
	height: 300px;
	border: 2px solid #999;
	border-radius: 300px;
	position: fixed;
	top: 0;
	left: 10px;
}

#circle3 {
	width: 400px;
	height: 400px;
	border: 2px solid #999;
	border-radius: 400px;
	position: fixed;
	top: 0;
	left: 20px;
}

#quote {
	font-family:"Arial Black", "Arial Bold", Gadget, sans-serif;
	font-size: 8em;
	color: #999;
	position: fixed;
	top: 200px;
	left:500px;
}

/* CLEARFIX
=====================================*/
.group:after {
  content: "";
  display: table;
  clear: both;
}

