        #container1 {
            height: 720px;
            width: 1200px;
            margin: 0 auto;
        }

        .container2 {
            height: 720px;
            width: 300px;
            float: left;
        }

        .topmargin {
            margin-top: 100px;
        }

        .topmargin2 {
            margin-top: 40px;
        }

        .topmargin4 {
            margin-top: 80px;
        }

        .topmargin3 {
            margin-top: 90px;
        }

        .vertical1 {
            background-image: url('img/image11.jpg');
            height: 358px;
            width: 280px;
            float: left;
        }

        .vertical1:hover {
            background-image: url('img/image13.jpg');
            height: 358px;
            width: 280px;
            float: left;
        }

        .vertical2 {
            background-image: url('img/image15.jpg');
            height: 358px;
            width: 280px;
            float: left;
            border: none;
        }

        .vertical2:hover {
            background-image: url('img/image7.jpg');
            height: 358px;
            width: 280px;
            float: left;
        }

        .vertical3 {
            background-image: url('img/image12.jpg');
            height: 358px;
            width: 280px;
            float: left;
        }

        .vertical3:hover {
            background-image: url('img/image16.jpg');
            height: 358px;
            width: 280px;
            float: left;
        }

        .vertical4 {
            background-image: url('img/image14.jpg');
            height: 358px;
            width: 280px;
            float: left;
        }

        .vertical4:hover {
            background-image: url('img/image17.jpg');
            height: 358px;
            width: 280px;
            float: left;
        }

        h1 {
            font-size: 73px;
            font-family: 'PT Serif', serif;
            color: red;
            text-align: center;

        } 

        .blink {
            -webkit-animation-duration: 900ms;
            -webkit-animation-name: flash;
            -webkit-animation-iteration-count: infinite;
        }

        @-webkit-keyframes flash {
            0% {
                opacity: 0;
            }
            49.99% {
                opacity: 0;
             }
             50% {
                opacity: 1;
             }
             99.99% {
                opacity: 1;
             }
             100% {
                opacity: 0;
             }
            }

        .headline {
            float:left;
            margin-top: 300px;
            z-index: 1;
            position: absolute;
        }


        p {
            font-size: 13.5px;
            font-family: 'PT Serif', serif;
            color: black;
            margin: 5px;
            margin-top: -10px;
            text-align: justify;
        }

        .text {
            height: 250px;
            width: 270px;
        }

        .quote {
            font-size: 28px;
            text-align: center;
        }

        .bigtext {
            font-size: 16px;
        }

        .thankstext {
            font-family: 'Cardo', serif;
            font-size: 14px;
            font-weight: bold;
        }

        .textsmall {
            height: 150px;
            width: 270px;
        }

        .small {
            font-size: 11px;
            width: 270px;
        }

        .thankssize {
            width: 270px;
            text-align: left;
        }