/* TABLE OF CONTENTS
=====================================
#RESET
#HTML5
#BASE TYPOGRAPHY
	#BODY
	#HEADINGS
	#PARAGRAPHS
	#LISTS
	#LINKS
#IMAGES
#CLEARFIX
#LAYOUT/GRID
#SITE-SPECIFIC
  	#SECTIONS
#MEDIA QUERIES
#@FONT-FACE
===================================== */
 
/* RESET
===================================== */

*{
	margin: 0;
	padding: 0;
}

/* HTML5
=====================================*/
header, footer, nav, section, article, aside, figure {
display: block;
}

/* BASE TYPOGRAPHY
=====================================*/

/* BODY */
body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 100%; /* 1em = 16px */
	line-height: 1.5em; /* 16 x 1.5 = 24px */
}

/* HEADINGS 

Traditional Typographic Scale
48, 36, 24, 21, 18, 16

*/
h1, h2, h3, h4, h5, h6 {
	margin-bottom: 0.5em;
}

h1{
	font-size: 3em; /* 48px / 16px = 3em */
	line-height: 1em;	/* relative to font size => 3em x 1.5em where 1em = 16px */
}

h2{
	font-size: 2.25em; /* 36px / 16px = 2.25em */
	line-height: 1.1em;	/*  */
}

h3{
	font-size: 1.5em; /* 24px / 16px = 1.5em */
	line-height: 1.2em;	/*  */
}

h4{
	font-size: 1.31em; /* 21px / 16px = 1.31em */
	line-height: 1.3em;	/*  */
}

h5{
	font-size: 1.125em; /* 18px / 16px = 1.125em */
	line-height: 1.4em;	/*  */
}

h6{
	font-size: 1em; /* 16px / 16px = 1em */
	line-height: 0.5em;	/*  */
}

/* PARAGRAPHS */
p{
	margin-bottom: 0.5em;
}

/* LISTS */
ul, ol {
	margin-bottom: 0.5em;
}

ul li ul, ul li ol, ol li ol, ol li ul {
	margin: 0;
}

li{
	margin-left: 1.875em;
}

/* LINKS */
a {color: #41AEB7;text-decoration: none;}
a:hover {color: #A4F9E0; text-decoration: underline;}

/* IMAGES
=====================================*/
img.scale-with-grid {
	max-width: 100%;
	height: auto; 
}

a img {
	border: none;
}

/* CLEARFIX
=====================================*/
.group:after {
  content: "";
  display: table;
  clear: both;
}

/* #LAYOUT/GRID
=====================================*/
.container {
	width: 60em; /* 960px */
	margin: 2em auto;
}

/* SITE-SPECIFIC
=====================================*/

body {
	background: #ccc;
	}

.container {
	width: 56em;
	padding: 2em;
	margin: 2em auto;
	background: #fff;
}

/* MEDIA QUERIES
===================================== */
/* TABLET */
@media all and (min-width: 48em) and (max-width: 62em) {
	body{
		font-size: 87.5%; /* 14px */	
	}
	
	.container {
		width: 84%;
		margin: 4%;
		padding: 4%;
	}

}

/* MOBILE */
@media all and (max-width: 47.9999em) {
	body{
		font-size: 75%; /* 12px */
	}
	
	.container {
		width: 92%;
		margin: 2%;
		padding: 2%;
	}
}


/* @FONT-FACE
===================================== */