
body{
	font-family: "Lato", Helvetica, Arial, sans-serif;
	background: #eeeeee; /* Old browsers */
	background: -moz-linear-gradient(top,  #eeeeee 0%, #ffffff 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(99%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #eeeeee 0%,#ffffff 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #eeeeee 0%,#ffffff 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #eeeeee 0%,#ffffff 99%); /* IE10+ */
	background: linear-gradient(to bottom,  #eeeeee 0%,#ffffff 99%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

h1, h3, h4{
	color: #f0662f;
}


h1{
	font-size: 18pt;
	letter-spacing: .04em;
	margin-left: 33%;
	margin-bottom: 0px;
}

h2, h3, h5, p, ul, ol{
	font-size: 10pt;
}

h2{
	font-style: italic;
	font-weight: 300;
	max-width: 528px;
	width: 66%;
	margin-left: 33%;
}

h3{
	margin-left: 33%;
	text-align: right;
	padding-right: 20px;
}

h4{
	font-size: 14pt;
	line-height: 18pt;
	margin-top: 0;
}

h5{
	width:33%;
	float: left;
	font-weight: 400;
	text-align: right;
	line-height: 14pt;
	margin-top: 0;
	padding-right: 20px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;  
}
a{
	font-family: "Lato", Helvetica, Arial, sans-serif;
	font-weight: 300;
	text-decoration: none;
	color: #000;
}

a:hover{
	color: #f0662f;
}

p{
	font-family: "Lato", Helvetica, Arial, sans-serif;
	font-weight: 300;
	line-height: 15pt;
	margin-top: 0;
}

ul{
	list-style: disc;
	background-color: #f3efe8;
	padding: 10px 10px 10px 30px;
}

/* Layout */

article{
	width: 80%;
	max-width: 800px;
	height: 2700px;
	margin: 0 auto;
	padding: 10px;
	background-color: #FFF;
}

section{
	clear: both;
}

.col-1-3, .col-2-3{
	float: left;
}

.col-1-3{
	width:33%;
	text-align: right;
	padding-right: 20px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;  
}

.col-2-3{
	width:66%;
}

#first, #last{
	margin-left: 33%;
}

#title{
	padding: 100px 10px 10px 10px;
	margin-bottom: 10px;
	background-color: #f3efe8;
}

/*Seven Kinds of Contrast*/
#size{
	font-size:16pt;
}

#weight{
	font-weight: 700;
}

#form{
	font-style: italic;
}

#structure{
	font-family: serif;
	font-size: 11pt;
}

#texture{
	font-family: serif;
	font-size: 11pt;
	font-style: italic;
}

#color{
	color: #f0662f;
}

#direction{
	display: inline-block;
	transform: rotate(90deg);
	transform-origin: left top 0;
	-webkit-transform: rotate(90deg);
	-webkit-transform-origin: left top 0;
	padding-left: 20px;
	float: right;
	margin-right: -50px;

}
