/*CHECKERBOARD=======================*/

.redsquare{
	background-color: red;
	width: 100px;
	height: 100px;
	float: left;
	margin-right: 100px;
}

.row02, .row04, .row06, .row08 {
	margin-left: 100px;
}


/*TENNIS COURT=======================*/
.container {
	width: 606px;
}

.top{
	width: 606px;
}

.vbar{
	background-color: red;
	width: 100px;
	height: 302px;
	display: inline-block;
	float: left;
	margin-top: 1px;
}

.centersquare {
	width: 404px;
	float: left;
	margin-left: 1px;
	margin-right: 1px;
}

.hbar{
	background-color: red;
	width: 402px;
	height: 100px;
	float: left;
	margin: 1px;
}

.squares{
	background-color: red;
	width: 200px;
	height: 200px;
	float: left;
	margin: 1px;
}

.bottom{
	float: left;
}

/*3 column grid==========================*/

#container {
	width: 640px;
}

#top {
	background-color: red;
	width: 620px;
	height: 100px;
	margin: 10px 0 10px 5px;	
}

#divider {
	background-color: red;
	width: 620px;
	height: 20px;
	margin: 0 0 10px 5px;	
}

#content {
	height: 310px;
}

.column {
	background-color: red;
	width: 200px;
	height: 450px;
	margin: 0 5px 0 5px;
	float: left;
}

#bottom {
	background-color: red;
	width: 620px;
	height: 100px;
	margin: 10px 0 10px 5px;
	float: left;	
}

/*BLOG
=====================================*/
#page {
	width: 810px;
}

#header {
	background-color: red;
	width: 810px;
	height: 100px;
	margin-bottom: 100px;
}

.entry {
	width: 810px;
}

.textblock {
	background-color: red;
	width: 600px;
	height: 400px;
	margin-bottom: 100px;
	float: left;
}

.sidebar {
	background-color: red;
	width: 200px;
	height: 200px;
	margin-left: 10px;
	float: left;
}

/*California
=====================================*/
#centerpanel {
	width: 840px;
	float: left;
}


#rightpanel {
	width: 840px;
	float: left;
}

#leftpane;{
	width: 840px;
	float: left;
}

.type1 {
	background-color: red;
	width: 100px;
	height: 200px;
	float: left;
	margin:	2.5px;
}

#center1 {
	float: left;
}

.type2 {
	background-color: red;
	width: 100px;
	height: 405px;
	float: left;
	margin: 2.5px;
}

.type3 {
	background-color: red;
	width: 205px;
	height: 405px;
	float: left;
	margin: 2.5px;
}

.2type1 {
	float: left;
	width: 110px;
}

.4type1 {
	float: left;
	width: 220px;
}

#center3 {
	float: left;
}

.type4 {
	background-color: red;
	width: 205px;
	height: 610px;
	float: left;
	margin: 2.5px;
}


/* CLEARFIX
=====================================*/
.group:after {
  content: "";
  display: table;
  clear: both;
}

