div{
	background-color: red;
	margin: 5px;
	float: left;
}

.container{
	max-width: 800px;
	width: 96%;
	background-color: white;
	margin: 0 auto;
	float: none;
}

.logo-box{
	width: 100%;
	height: 100px;
}

.nav-box{
	width: 100%;
	height: 30px;
}

article{
	margin: 0 auto;
}

.col-1-3{ 
	width: 256px;
	margin: 5px;
	height: 500px;
	}


footer{
	width: 100%;
	height: 100px;
	background-color: red;
	float: left;
	margin: 5px;
}

